
@{
    ViewData["Title"] = "AnnualLeave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Annual Leave</h1>
<div id="jsGrid"></div>

@section Scripts{

    <script type="text/javascript" src="~/js/annualleave.js"></script>

}