
@{
    ViewData["Title"] = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Department</h1>
<div id="jsGrid"></div>

@section Scripts{

    <script type="text/javascript" src="~/js/department.js"></script>

}